
<header id="title">
	<h1>Oferta: <%= @order.offer.title %></h1>
</header>
<section>
	<div class="row show-grid">
		<div class="span4 pagination-centered">
			<div class="well">
				<h2>Apúntate</h2><br>
				<img src="http://chart.apis.google.com/chart?cht=qr&chs=300x300&chl=<%= url_for :action => :join, :id => @order.id, :only_path => false %>"><br>
				<div class="friendly-url">
					<div class="well">
						<%= url_for :action => :join, :id => @order.id, :only_path => false %>
					</div>
				</div>
			</div>
		</div>
		<div class="span8">
			<div class="well">
				<ul>
					<% @order.users.each { |u| %>
						<li>
							<div class="well white-well">
								<div style="width: 80%; float:left;">
									<b><%= u.username %></b>
								</div>
								<div class="" style="float:left; margin-top: 5px; width: 10%">
									<b><%= u.get_total %> €</b>
								</div>
								<div style="float:left; width: 10%">
									<a class="btn btn-warning"> x </a>
								</div>
								<div class="clear"></div>
								<ul>
									<hr>
									<% u.items.each { |i|%> 
										<li>
											<div style="width: 70%; float: left;">
												<%= i.product.title %>
											</div>
											<div style="width: 10%; float: left;">
												<%= i.product.price %>€ 
											</div >
											<div style="width: 10%; float: left;">
												<%= i.quantity %>
											</div>
											<div style="width: 10%; float: left;">
												<%= i.get_total %>€
											</div>
											<div class="clear"></div>
										</li>
										<hr>
									<% }%>
								</ul>
							</div>
						</li>
					<% } %>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="span5">
				<div class="progress progress-striped progress-success active">
			    	<div class="bar" style="width: <%= @order.calculate_order_discount*100 %>%;"></div>
			    </div>
			</div>
			<div class="span3 pagination-right">
				<div class="btn-group" style="float:right;">
					<a class="btn btn-success btn-large" href="#">Terminar pedido</a>
					<a class="btn btn-success btn-large"> <%= @order.get_total %> €</a>
				</div>
				<div class="clear"></div>
			</div>
	</div>
</section>